 <!-- Begin page -->
 <div class="wrapper">
    <!--appel du sidebar component-->
    <app-sidebar></app-sidebar>

    <!-- Start Page Content here -->
    <div class="content-page">
    <div class="content">

   
           

    <!-- Start Content-->
        <div class="container-fluid">

    <!-- start page title -->
            <div class="row">

               <router-outlet></router-outlet>
            </div>
    <!-- end page title -->

    </div> <!-- end  container -->

    </div>
        
</div>
<!-- END wrapper -->
